<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragment::page_head('MyShopping-Website')"></head>
<body>
<div class="container-fluid">
  <div th:replace="fragment::page_menu"></div>
  <div>
    <h2> Product List </h2>
    <a th:href="@{/products/add}" sec:authorize="hasAuthority('Admin')"> Add new product </a> <!--Only user with role "Admin" access then code will show-->
  </div>
  <div>
    <table class="table table-bordered table-striped table-hover table table-responsive-xl">
      <thead class="table-dark">
        <tr>
          <th style="width: 150px">Product ID</th>
          <th style="width: 500px">Name</th>
          <th style="width: 100px">Price</th>
          <th style="width: 200px">Remaing Quantity</th>
          <th style="width: 100px">Rating</th>
          <th sec:authorize="hasAuthority('Admin')"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="product : ${listProducts}">
          <td> [[${product.id}]]</td>
          <td>
            <a th:href="@{'/products/view/' + ${product.id}}">[[${product.name}]]</a>
          </td>
          <td> [[${product.price}]]</td>
          <td> [[${product.quantity}]]</td>
          <td> [[${product.rate}]]</td>
          <td sec:authorize="hasAuthority('Admin')">
            <a th:href="@{'/products/edit/' + ${product.id}}"> Edit </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/products/delete/' + ${product.id}}"> Delete </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragment::page_footer"></div>
</div>

</body>
</html>