<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset = UTF-8">
    <meta name = "viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>MyShoping Website</title>
</head>
<body>
<div class="container-fluid text-center" >
    <div>
        <img th:src="@{/images/logo.png}" width="300" height="100">
    </div>
    <form th:action="@{/login}" method="post" style="max-width: 350px; margin: 0 auto">
        <div class="border border-secondary rounded p-3">
            <p> Access to MyShopping </p>
            <p>
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </p>
            <p>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </p>
            <p>
                <input type="submit" value="login" class="btn btn-primary">
            </p>
        </div>
    </form>
    <div>
        <p>MyShopping Control Panel - Copyright &copy; MyShopping</p>
    </div>
</div>

</body>
</html>