<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragment::page_head('MyShopping-Website')"></head>
<body>
<div class="container-fluid">
  <div th:replace="fragment::page_menu"></div>
  <div>
    <h2> Manage Users </h2>
    <a th:href="@{/users/add}"> Create new user </a>
  </div>
  <div>
    <table class="table table-bordered table-striped table-hover table table-responsive-xl">
      <thead class="table-dark">
        <tr>
          <th>User ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="user : ${listUser}">
          <td> [[${user.id}]]</td>
          <td> [[${user.name}]]</td>
          <td> [[${user.email}]]</td>
          <td> [[${user.roles}]]</td>
          <td>
            <a th:href="@{'/users/edit/' + ${user.id}}"> Edit </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a th:href="@{'/users/delete/' + ${user.id}}"> Delete </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="fragment::page_footer"></div>

</div>

</body>
</html>